body {
  font-family: "DM Sans", sans-serif;
  margin: 0;
}

.photographer_section {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 70px;
  margin-top: 100px;
}
.photographer_section-article {
  justify-self: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.photographer_section-article a {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
}
.photographer_section-article img {
  height: 200px;
  width: 200px;
  border-radius: 50%;
  object-fit: cover;
}
.photographer_section-article-name {
  color: #D3573C;
  font-size: 36px;
  margin: 0;
}
.photographer_section-article-location {
  margin: 0;
  color: #901C1C;
}
.photographer_section-article-tagline {
  margin: 0;
}
.photographer_section-article-price {
  margin: 0;
  color: #525252;
}

* {
  margin: 0;
}

#contact_modal {
  display: none;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  overflow: auto;
  background: rgba(156, 69, 26, 0.4);
}

.visible {
  display: block;
}

#date, #title {
  display: none;
  padding: 20px;
  font-size: 18px;
  color: #FFF;
  cursor: pointer;
}

#date::before {
  content: "";
  position: absolute;
  border: #FFF 1px solid;
  width: 131px;
  left: 10px;
  top: 65px;
}

#title::before {
  content: "";
  position: absolute;
  border: #FFF 1px solid;
  width: 131px;
  left: 10px;
  top: 126px;
}

.sortby {
  margin: 34px 100px;
  display: flex;
  align-items: center;
}
.sortby ul {
  margin: 15px 0 0 10px;
  padding: 0;
  background-color: #901C1C;
  border-radius: 5px;
  position: absolute;
  left: 10%;
  top: 44.5%;
}
.sortby-list, .sortby-list_display {
  list-style: none;
  padding: 20px;
  font-size: 18px;
  color: #FFF;
  cursor: pointer;
}
.sortby-list {
  display: flex;
  align-items: center;
}
.sortby-list .fa-chevron-down {
  margin-left: 15px;
}
.sortby-list .fa-chevron-up {
  display: none;
  margin-left: 15px;
}
.sortby-list_display {
  display: block;
}

.price-bar {
  background-color: #D3573C;
  position: fixed;
  border-radius: 5px 5px 0 0;
  right: 20px;
  bottom: 0;
  width: 250px;
  height: 55px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 15px;
}
.price-bar_pPrice {
  font-size: 24px;
  font-weight: 500;
}
.price-bar_TotalLikes {
  display: flex;
  align-items: center;
}
.price-bar_pTotalLikes {
  font-size: 24px;
}
.price-bar .fa-heart {
  margin-left: 5px;
  font-size: 20px;
}

.photograph-header {
  background-color: #FAFAFA;
  height: 300px;
  margin: 0 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row-reverse;
  padding: 1% 2% 1% 2%;
}
.photograph-header_img {
  height: 200px;
  width: 200px;
  object-fit: cover;
  border-radius: 50%;
}
.photograph-header_name {
  color: #D3573C;
  font-size: 55px;
  font-weight: lighter;
  margin: 0;
}
.photograph-header_location {
  color: #901C1C;
  font-size: 25px;
  margin: 13px 0 0 0;
}
.photograph-header_tagline {
  color: #525252;
  font-size: 18px;
}
.photograph-medias {
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0 100px;
}
.photograph-medias article {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.photograph-medias article img, .photograph-medias video {
  height: 350px;
  width: 350px;
  border-radius: 5px;
  margin: 30px 50px 15px 50px;
  object-fit: cover;
  cursor: pointer;
}
.photograph-legend {
  display: flex;
  margin-left: 50px;
  margin-bottom: 15px;
  align-items: center;
  width: 350px;
  justify-content: space-between;
}
.photograph-legend_title, .photograph-legend_likes, .photograph-legend_heart {
  margin: 0;
  color: #901C1C;
  font-size: 24px;
}
.photograph-legend_details {
  display: flex;
  align-items: center;
}
.photograph-legend_title {
  font-weight: 400;
}
.photograph-legend_heart {
  margin-left: 10px;
  cursor: pointer;
}

.contact_button {
  font-size: 20px;
  font-weight: bold;
  color: white;
  padding: 11px;
  width: 170px;
  height: 70px;
  border: none;
  background-color: #901C1C;
  border-radius: 5px;
  cursor: pointer;
}
.contact_button:hover {
  background-color: #D3573C;
  color: #000000;
}

.modal {
  border-radius: 5px;
  background-color: #DB8876;
  width: 630px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 35px;
  margin: 5% auto;
}
.modal header {
  justify-content: space-between;
  width: 100%;
  align-items: baseline;
  margin-bottom: 19px;
  height: 165px;
}
.modal header img {
  cursor: pointer;
}
.modal header h2 {
  font-size: 64px;
  font-weight: normal;
  text-align: center;
  margin: 0;
  text-align: start;
}

form {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
}
form label {
  color: #312E2E;
  font-size: 36px;
}
form div {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: self-start;
  margin-bottom: 26px;
}
form input {
  width: 100%;
  height: 68px;
  border: none;
  border-radius: 5px;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 90px;
}

.logo {
  height: 50px;
  margin-left: 100px;
}

h1 {
  color: #901C1C;
  margin-right: 100px;
}

/*# sourceMappingURL=style.css.map */
