.photographer_section {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 70px 170px;
  margin: 100px 0 50px 0;
  &-article {
    justify-self: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    a {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-decoration: none;
    }
    img {
      height: 200px;
      width: 200px;
      border-radius: 50%;
      object-fit: cover;
    }
    &-name {
      color: $secondary-color;
      font-size: 36px;
      margin: 0;
    }
    &-location {
      margin: 0;
      color: $primary-color;
    }
    &-tagline {
      margin: 0;
    }
    &-price {
      margin: 0;
      color: $tertiary-color;
    }
  }
  &-description {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
