#contact_modal {
    display: none;
}

.photograph{
    &-header {
        background-color: #FAFAFA;
        height: 300px;
        margin: 0 100px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: row-reverse;
        padding: 1% 2% 1% 2%;
        &_img {
            height: 200px;
            width: 200px;
            object-fit: cover;
            border-radius: 50%;
        }
        &_name {
            color: $secondary-color;
            font-size: 55px;
            font-weight: lighter;
            margin: 0;
        }
        &_location {
            color: $primary-color;
            font-size: 25px;
            margin: 13px 0 0 0;
        }
        &_tagline {
            color: $tertiary-color;
            font-size: 18px;
        }
    }
    &-medias {
        display: flex;
        justify-content: center;
        flex-direction: row;
        flex-wrap: wrap;
        margin: 0 100px;
        article img, video{
            height: 351px;
            width: 350px;
            border-radius: 2%;
            margin: 30px 50px;
            object-fit: cover;
        }
    }   
}


.contact_button {
    font-size: 20px;
    font-weight: bold;
    color: white;
    padding: 11px;
    width: 170px;
    height: 70px;
    border: none;
    background-color: #901C1C;
    border-radius: 5px;
    cursor: pointer;
    &:hover {
        background-color: $secondary-color;
        color: #000000;
    }
}

.modal {
    border-radius: 5px;
    background-color: #DB8876;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 35px;
    margin: auto;
    header {
        justify-content: space-between;
        width: 100%;
        img {
            cursor: pointer;
        }
        h2 {
            font-size: 64px;
            font-weight: normal;
            text-align: center;
        }
    }
}

form {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
    label {
        color: #312E2E;
        font-size: 36px;
    }
    div {
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: self-start;
        margin-bottom: 26px;
    }
    input {
        width: 100%;
        height: 68px;
        border: none;
        border-radius: 5px;
    }
}